{
  "openapi": "3.1.0",
  "info": {
    "title": "Ordinal API",
    "version": "1.0.0",
    "description": "API to create and manage Ordinal workspaces, posts, profiles, and analytics"
  },
  "servers": [
    {
      "url": "https://app.tryordinal.com/api/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": "Social media analytics data"
    },
    {
      "name": "Approvals",
      "description": "Post approval workflows"
    },
    {
      "name": "Engagements",
      "description": "Auto-engagements for posts (likes, comments, reposts)"
    },
    {
      "name": "Invites",
      "description": "Workspace invitations for adding new users"
    },
    {
      "name": "Labels",
      "description": "Labels for organizing posts"
    },
    {
      "name": "LinkedIn",
      "description": "LinkedIn utilities for tagging and mentions"
    },
    {
      "name": "Posts",
      "description": "Create and manage posts"
    },
    {
      "name": "Profiles",
      "description": "List connected social profiles"
    },
    {
      "name": "Subscribers",
      "description": "Post subscribers for notifications"
    },
    {
      "name": "File Uploads",
      "description": "Upload files from URLs for use in posts. Supports images (JPEG, PNG, GIF, WebP) up to 10 MB and videos (MP4, MOV) up to 350 MB."
    },
    {
      "name": "Users",
      "description": "Workspace users"
    },
    {
      "name": "Workspaces",
      "description": "Workspace information"
    }
  ],
  "paths": {
    "/analytics/linkedin/{profileId}/followers": {
      "get": {
        "operationId": "analytics-linkedin-followers",
        "summary": "LinkedIn follower growth",
        "description": "Retrieve follower count history for a LinkedIn profile",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "description": "LinkedIn profile ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for analytics (defaults to 30 days ago)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for analytics (defaults to today)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "LinkedIn follower growth data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FollowerDataPoint"
                  }
                },
                "example": [
                  {
                    "followerCount": 5420,
                    "recordedAt": "2024-12-01T00:00:00.000Z"
                  },
                  {
                    "followerCount": 5485,
                    "recordedAt": "2024-12-02T00:00:00.000Z"
                  },
                  {
                    "followerCount": 5512,
                    "recordedAt": "2024-12-03T00:00:00.000Z"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/analytics/linkedin/{profileId}/posts": {
      "get": {
        "operationId": "analytics-linkedin-posts",
        "summary": "LinkedIn post analytics",
        "description": "Retrieve post analytics for a LinkedIn profile within a date range",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "description": "LinkedIn profile ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for analytics (defaults to 30 days ago)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for analytics (defaults to today)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "LinkedIn post analytics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LinkedInPostAnalytics"
                  }
                },
                "example": [
                  {
                    "id": "550e8400-e29b-41d4-a716-446655440600",
                    "url": "https://www.linkedin.com/feed/update/urn:li:share:7123456789012345678",
                    "commentary": "Excited to share our latest product update! \ud83d\ude80\n\nAfter months of development, we're launching three new features that will transform how you work:\n\n\u2705 Feature A\n\u2705 Feature B\n\u2705 Feature C\n\nLearn more in the comments \ud83d\udc47",
                    "type": "SHARE",
                    "publishedAt": "2024-12-10T14:00:00.000Z",
                    "likeCount": 245,
                    "commentCount": 32,
                    "shareCount": 18,
                    "clickCount": 156,
                    "impressionCount": 12500,
                    "engagement": 3.62
                  },
                  {
                    "id": "550e8400-e29b-41d4-a716-446655440601",
                    "url": "https://www.linkedin.com/feed/update/urn:li:share:7123456789012345679",
                    "commentary": "5 lessons learned from scaling our startup from 0 to 10k users \ud83d\udcc8\n\nThread below:",
                    "type": "SHARE",
                    "publishedAt": "2024-12-05T09:30:00.000Z",
                    "likeCount": 892,
                    "commentCount": 67,
                    "shareCount": 134,
                    "clickCount": 423,
                    "impressionCount": 28900,
                    "engagement": 5.21
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/analytics/x/{profileId}/followers": {
      "get": {
        "operationId": "analytics-x-followers",
        "summary": "X follower growth",
        "description": "Retrieve follower count history for an X profile",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "description": "X profile ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for analytics (defaults to 30 days ago)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for analytics (defaults to today)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "X follower growth data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FollowerDataPoint"
                  }
                },
                "example": [
                  {
                    "followerCount": 12450,
                    "recordedAt": "2024-12-01T00:00:00.000Z"
                  },
                  {
                    "followerCount": 12523,
                    "recordedAt": "2024-12-02T00:00:00.000Z"
                  },
                  {
                    "followerCount": 12601,
                    "recordedAt": "2024-12-03T00:00:00.000Z"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/analytics/x/{profileId}/posts": {
      "get": {
        "operationId": "analytics-x-posts",
        "summary": "X post analytics",
        "description": "Retrieve post analytics for an X profile within a date range",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "description": "X profile ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for analytics (defaults to 30 days ago)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for analytics (defaults to today)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "X post analytics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TwitterPostAnalytics"
                  }
                },
                "example": [
                  {
                    "id": "550e8400-e29b-41d4-a716-446655440700",
                    "url": "https://x.com/acme/status/1234567890123456789",
                    "text": "Excited to share our latest product update! \ud83d\ude80\n\nAfter months of development, we're launching three new features that will transform how you work.\n\nThread \ud83e\uddf5\ud83d\udc47",
                    "publishedAt": "2024-12-10T14:00:00.000Z",
                    "likeCount": 342,
                    "replyCount": 28,
                    "retweetCount": 89,
                    "quoteCount": 15,
                    "bookmarkCount": 67,
                    "impressionCount": 45200,
                    "engagement": 1.2
                  },
                  {
                    "id": "550e8400-e29b-41d4-a716-446655440701",
                    "url": "https://x.com/acme/status/1234567890123456790",
                    "text": "5 lessons learned from scaling our startup from 0 to 10k users \ud83d\udcc8\n\nA thread:",
                    "publishedAt": "2024-12-05T09:30:00.000Z",
                    "likeCount": 1256,
                    "replyCount": 94,
                    "retweetCount": 312,
                    "quoteCount": 48,
                    "bookmarkCount": 234,
                    "impressionCount": 89300,
                    "engagement": 2.17
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/approvals": {
      "post": {
        "operationId": "approvals-create",
        "summary": "Create approval requests",
        "description": "Create one or more approval requests for a post",
        "tags": [
          "Approvals"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApprovalsInput"
              },
              "example": {
                "postId": "550e8400-e29b-41d4-a716-446655440000",
                "approvals": [
                  {
                    "userId": "550e8400-e29b-41d4-a716-446655440011",
                    "message": "Please review the messaging before we publish",
                    "dueDate": "2026-01-14T17:00:00.000Z",
                    "isBlocking": true
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Approvals created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "createdApprovals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Approval"
                      }
                    },
                    "existingApprovals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Approval"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/approvals/{id}": {
      "delete": {
        "operationId": "approvals-delete",
        "summary": "Delete approval",
        "description": "Delete an approval request",
        "tags": [
          "Approvals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Approval ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Approval deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deletedApproval": {
                      "$ref": "#/components/schemas/Approval"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/posts/{postId}/approvals": {
      "get": {
        "operationId": "approvals-list",
        "summary": "List post approvals",
        "description": "List all approval requests for a specific post",
        "tags": [
          "Approvals"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "description": "Post ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of approvals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "approvals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Approval"
                      }
                    }
                  }
                },
                "example": {
                  "approvals": [
                    {
                      "id": "550e8400-e29b-41d4-a716-446655440200",
                      "status": "Requested",
                      "isBlocking": true,
                      "message": "Please review the messaging before we publish",
                      "dueDate": "2026-01-14T17:00:00.000Z",
                      "approvedAt": null,
                      "createdAt": "2026-01-05T10:30:00.000Z",
                      "user": {
                        "id": "550e8400-e29b-41d4-a716-446655440011",
                        "firstName": "Jane",
                        "lastName": "Smith",
                        "createdAt": "2025-01-01T00:00:00.000Z"
                      },
                      "requestedBy": {
                        "id": "550e8400-e29b-41d4-a716-446655440010",
                        "firstName": "John",
                        "lastName": "Doe",
                        "createdAt": "2025-01-01T00:00:00.000Z"
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/posts/{postId}/engagements": {
      "get": {
        "operationId": "engagements-list",
        "summary": "List for a post",
        "description": "List all engagements (likes, comments, reposts) configured for a specific post",
        "tags": [
          "Engagements"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "description": "Post ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of engagements",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "engagements": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Engagement"
                      }
                    }
                  }
                },
                "example": {
                  "engagements": [
                    {
                      "id": "550e8400-e29b-41d4-a716-446655440800",
                      "channel": "LinkedIn",
                      "type": "Like",
                      "profileId": "550e8400-e29b-41d4-a716-446655440001",
                      "copy": null,
                      "delaySeconds": 0
                    },
                    {
                      "id": "550e8400-e29b-41d4-a716-446655440801",
                      "channel": "LinkedIn",
                      "type": "Comment",
                      "profileId": "550e8400-e29b-41d4-a716-446655440002",
                      "copy": "Great insights! Check out our guide for more details: https://example.com/guide",
                      "delaySeconds": 300
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "engagements-create",
        "summary": "Create for a post",
        "description": "Add engagements (likes, comments, reposts) to a post. Engagements will be executed automatically when the post is published.\n\n**Tagging on LinkedIn:**\nTo mention someone in a comment or repost, use the format `@[Display Name](urn)`. See [LinkedIn Mentions](/api/linkedin-mentions) for details on how to look up URNs.\n\n**Validation rules:**\n- `copy` is required for Comment, optional for Repost, must not be provided for Like\n- `delaySeconds` is required for Comment and Repost (allowed values: 0, 300, 600, 1800, 3600, 14400, 28800, 43200, 86400 seconds), must not be provided for Like\n- Only one Like engagement per profile is allowed",
        "tags": [
          "Engagements"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "description": "Post ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEngagementsInput"
              },
              "example": {
                "channel": "LinkedIn",
                "engagements": [
                  {
                    "type": "Like",
                    "profileId": "550e8400-e29b-41d4-a716-446655440001"
                  },
                  {
                    "type": "Comment",
                    "profileId": "550e8400-e29b-41d4-a716-446655440002",
                    "copy": "Great insights! Check out our guide for more details.",
                    "delaySeconds": 300
                  },
                  {
                    "type": "Repost",
                    "profileId": "550e8400-e29b-41d4-a716-446655440003",
                    "delaySeconds": 3600
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Engagements created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "engagements": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Engagement"
                      }
                    }
                  }
                },
                "example": {
                  "engagements": [
                    {
                      "id": "550e8400-e29b-41d4-a716-446655440800",
                      "type": "Like",
                      "profileId": "550e8400-e29b-41d4-a716-446655440001",
                      "copy": null,
                      "delaySeconds": 0
                    },
                    {
                      "id": "550e8400-e29b-41d4-a716-446655440801",
                      "type": "Comment",
                      "profileId": "550e8400-e29b-41d4-a716-446655440002",
                      "copy": "Great insights! Check out our guide for more details.",
                      "delaySeconds": 300
                    },
                    {
                      "id": "550e8400-e29b-41d4-a716-446655440802",
                      "type": "Repost",
                      "profileId": "550e8400-e29b-41d4-a716-446655440003",
                      "copy": null,
                      "delaySeconds": 3600
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/engagements/{id}": {
      "patch": {
        "operationId": "engagements-update",
        "summary": "Update an engagement",
        "description": "Update an existing engagement's copy, delay, or profile.\n\n**Validation rules:**\n- `copy` cannot be updated for Like engagements\n- `copy` cannot be removed from Comment engagements (must have content)\n- `delaySeconds` cannot be updated for Like engagements\n- When changing `profileId`, the new profile must have the required engagement permissions\n- Cannot update engagements for posts that have already been published\n- Only one Like engagement per profile is allowed (cannot change profileId to a profile that already has a Like)",
        "tags": [
          "Engagements"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Engagement ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEngagementInput"
              },
              "examples": {
                "updateComment": {
                  "summary": "Update comment text and delay",
                  "value": {
                    "copy": "Updated comment text with great insights!",
                    "delaySeconds": 600
                  }
                },
                "changeProfile": {
                  "summary": "Change the profile performing the engagement",
                  "value": {
                    "profileId": "550e8400-e29b-41d4-a716-446655440003"
                  }
                },
                "clearRepostCopy": {
                  "summary": "Remove copy from a repost",
                  "value": {
                    "copy": null
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Engagement updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "engagement": {
                      "$ref": "#/components/schemas/EngagementResponse"
                    }
                  }
                },
                "example": {
                  "engagement": {
                    "id": "550e8400-e29b-41d4-a716-446655440801",
                    "type": "Comment",
                    "profileId": "550e8400-e29b-41d4-a716-446655440002",
                    "copy": "Updated comment text with great insights!",
                    "delaySeconds": 600
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "engagements-delete",
        "summary": "Delete an engagement",
        "description": "Remove an auto-engagement from a post",
        "tags": [
          "Engagements"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Engagement ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Engagement deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/invites": {
      "get": {
        "operationId": "invites-list",
        "summary": "List pending invites",
        "description": "List all pending invites for the workspace",
        "tags": [
          "Invites"
        ],
        "responses": {
          "200": {
            "description": "List of pending invites",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invite"
                  }
                },
                "example": [
                  {
                    "id": "550e8400-e29b-41d4-a716-446655440500",
                    "email": "newuser@example.com",
                    "createdAt": "2026-01-15T10:00:00.000Z"
                  },
                  {
                    "id": "550e8400-e29b-41d4-a716-446655440501",
                    "email": "another@example.com",
                    "createdAt": "2026-01-16T14:30:00.000Z"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "invites-create",
        "summary": "Create an invite",
        "description": "Invite a user to the workspace by email. If the user already has an Ordinal account, they will be added to the workspace immediately. Otherwise, an invite email will be sent.",
        "tags": [
          "Invites"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInviteInput"
              },
              "example": {
                "email": "newuser@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invite created or user added to workspace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invite": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Invite"
                        }
                      ],
                      "nullable": true,
                      "description": "The created invite, or null if the user was added directly to the workspace"
                    },
                    "sentEmail": {
                      "type": "boolean",
                      "description": "Whether an invite email was sent"
                    }
                  }
                },
                "example": {
                  "invite": {
                    "id": "550e8400-e29b-41d4-a716-446655440500",
                    "email": "newuser@example.com",
                    "createdAt": "2026-01-15T10:00:00.000Z"
                  },
                  "sentEmail": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/invites/{id}": {
      "delete": {
        "operationId": "invites-delete",
        "summary": "Delete an invite",
        "description": "Delete a pending invite. This will prevent the invited user from joining the workspace using this invite.",
        "tags": [
          "Invites"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Invite ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invite deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "description": "Whether the invite was deleted"
                    }
                  }
                },
                "example": {
                  "deleted": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/labels": {
      "get": {
        "operationId": "labels-list",
        "summary": "List all labels",
        "description": "List all labels in the workspace",
        "tags": [
          "Labels"
        ],
        "responses": {
          "200": {
            "description": "List of labels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "labels": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Label"
                      }
                    }
                  }
                },
                "example": {
                  "labels": [
                    {
                      "id": "550e8400-e29b-41d4-a716-446655440400",
                      "name": "Marketing",
                      "color": "#9333ea",
                      "backgroundColor": "#f3e8ff",
                      "createdAt": "2025-06-01T00:00:00.000Z",
                      "updatedAt": "2025-06-01T00:00:00.000Z"
                    },
                    {
                      "id": "550e8400-e29b-41d4-a716-446655440401",
                      "name": "Product",
                      "color": "#16a34a",
                      "backgroundColor": "#dcfce7",
                      "createdAt": "2025-06-01T00:00:00.000Z",
                      "updatedAt": "2025-06-01T00:00:00.000Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "labels-create",
        "summary": "Create a label",
        "description": "Create a new label in the workspace",
        "tags": [
          "Labels"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLabelInput"
              },
              "example": {
                "name": "Engineering",
                "color": "green"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Label created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Label"
                },
                "example": {
                  "id": "550e8400-e29b-41d4-a716-446655440402",
                  "name": "Engineering",
                  "color": "#16a34a",
                  "backgroundColor": "#dcfce7",
                  "createdAt": "2026-01-05T10:30:00.000Z",
                  "updatedAt": "2026-01-05T10:30:00.000Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/labels/{id}": {
      "delete": {
        "operationId": "labels-delete",
        "summary": "Delete a label",
        "description": "Delete a label from the workspace",
        "tags": [
          "Labels"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Label ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Label deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Label"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/linkedin/{username}/mentions": {
      "get": {
        "operationId": "linkedin-getMention",
        "summary": "Mention format by username",
        "description": "Look up the mention format for a LinkedIn user or organization by their username to use in posts or comments.\n\nThe username is the part after `/in/` or `/company/` in a LinkedIn profile URL:\n- Personal profile: `linkedin.com/in/johndoe` \u2192 username is `johndoe`\n- Company page: `linkedin.com/company/acme-inc` \u2192 username is `acme-inc`\n\nReturns both user and organization results if a username matches both (rare but possible).",
        "tags": [
          "LinkedIn"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "description": "LinkedIn username (vanity name) to look up",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "LinkedIn mention information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/LinkedInMentionUser"
                        }
                      ],
                      "nullable": true
                    },
                    "organization": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/LinkedInMentionOrganization"
                        }
                      ],
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "user": {
                    "username": "johndoe",
                    "urn": "urn:li:person:ABC123xyz",
                    "type": "User",
                    "displayName": "John Doe",
                    "firstName": "John",
                    "mentionFormat": "@[John Doe](urn:li:person:ABC123xyz)",
                    "firstNameMentionFormat": "@[John](urn:li:person:ABC123xyz)"
                  },
                  "organization": {
                    "username": "acme-inc",
                    "urn": "urn:li:organization:123456",
                    "type": "Organization",
                    "displayName": "Acme Inc",
                    "mentionFormat": "@[Acme Inc](urn:li:organization:123456)"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/posts": {
      "get": {
        "operationId": "posts-list",
        "summary": "List posts",
        "description": "List all posts in the workspace with pagination",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of posts to return (1-100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of posts to skip for pagination",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "posts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Post"
                      }
                    }
                  }
                },
                "example": {
                  "posts": [
                    {
                      "id": "550e8400-e29b-41d4-a716-446655440000",
                      "url": "https://app.tryordinal.com/acme/posts/550e8400-e29b-41d4-a716-446655440000",
                      "title": "Q4 Product Launch Announcement",
                      "channels": [
                        "LinkedIn",
                        "Twitter"
                      ],
                      "status": "Scheduled",
                      "publishDate": "2026-01-15",
                      "publishAt": "2026-01-15T14:00:00.000Z",
                      "createdAt": "2026-01-05T10:30:00.000Z",
                      "updatedAt": "2026-01-05T11:45:00.000Z",
                      "linkedIn": {
                        "profile": {
                          "id": "550e8400-e29b-41d4-a716-446655440001",
                          "name": "John Doe",
                          "detail": "johndoe"
                        },
                        "copy": "Excited to announce our new product launch! \ud83d\ude80"
                      },
                      "x": {
                        "profile": {
                          "id": "550e8400-e29b-41d4-a716-446655440003",
                          "name": "Acme Inc",
                          "detail": "@acme_inc"
                        },
                        "tweets": [
                          {
                            "copy": "Excited to announce our new product launch! \ud83d\ude80"
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "operationId": "posts-create",
        "summary": "Create post",
        "description": "Create a new post in the workspace",
        "tags": [
          "Posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePostInput"
              },
              "example": {
                "title": "Q4 Product Launch Announcement",
                "publishAt": "2026-01-15T14:00:00.000Z",
                "status": "Scheduled",
                "linkedIn": {
                  "profileId": "550e8400-e29b-41d4-a716-446655440001",
                  "copy": "Excited to announce our new product launch! \ud83d\ude80\n\nHuge thanks to @[John Doe](urn:li:person:ABC123xyz) and the @[Acme Inc](urn:li:organization:123456) team for making this happen.\n\nKey highlights:\n\u2022 Feature A\n\u2022 Feature B\n\u2022 Feature C\n\n#ProductLaunch #Innovation",
                  "assetIds": ["550e8400-e29b-41d4-a716-446655440010"]
                },
                "x": {
                  "profileId": "550e8400-e29b-41d4-a716-446655440003",
                  "tweets": [
                    {
                      "copy": "Excited to announce our new product launch! \ud83d\ude80\n\nA thread on what we've been building \ud83e\uddf5",
                      "assetIds": ["550e8400-e29b-41d4-a716-446655440011"]
                    },
                    {
                      "copy": "Key highlights:\n\u2022 Feature A\n\u2022 Feature B\n\u2022 Feature C"
                    }
                  ]
                },
                "labelIds": [
                  "550e8400-e29b-41d4-a716-446655440002"
                ],
                "notes": "Internal note: Coordinate with marketing team"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCreateResponse"
                },
                "example": {
                  "id": "550e8400-e29b-41d4-a716-446655440000",
                  "url": "https://app.tryordinal.com/acme/posts/550e8400-e29b-41d4-a716-446655440000",
                  "title": "Q4 Product Launch Announcement",
                  "channels": [
                    "LinkedIn"
                  ],
                  "status": "Scheduled",
                  "createdAt": "2026-01-05T10:30:00.000Z",
                  "updatedAt": "2026-01-05T10:30:00.000Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/posts/{id}": {
      "get": {
        "operationId": "posts-get",
        "summary": "Get post",
        "description": "Get a specific post by ID",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post": {
                      "$ref": "#/components/schemas/Post"
                    }
                  }
                },
                "example": {
                  "post": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "url": "https://app.tryordinal.com/acme/posts/550e8400-e29b-41d4-a716-446655440000",
                    "title": "Q4 Product Launch Announcement",
                    "channels": [
                      "LinkedIn",
                      "Twitter"
                    ],
                    "status": "Scheduled",
                    "publishDate": "2026-01-15",
                    "publishAt": "2026-01-15T14:00:00.000Z",
                    "createdAt": "2026-01-05T10:30:00.000Z",
                    "updatedAt": "2026-01-05T11:45:00.000Z",
                    "linkedIn": {
                      "profile": {
                        "id": "550e8400-e29b-41d4-a716-446655440001",
                        "name": "John Doe",
                        "detail": "johndoe"
                      },
                      "copy": "Excited to announce our new product launch! \ud83d\ude80"
                    },
                    "x": {
                      "profile": {
                        "id": "550e8400-e29b-41d4-a716-446655440003",
                        "name": "Acme Inc",
                        "detail": "@acme_inc"
                      },
                      "tweets": [
                        {
                          "copy": "Excited to announce our new product launch! \ud83d\ude80"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "posts-update",
        "summary": "Update post",
        "description": "Update an existing post by ID. All fields are optional - only include the fields you want to update.",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePostInput"
              },
              "example": {
                "title": "Updated: Q4 Product Launch Announcement",
                "publishAt": "2026-01-16T15:00:00.000Z",
                "status": "Finalized",
                "linkedIn": {
                  "copy": "Updated content for our product launch! \ud83d\ude80\n\nShoutout to @[Jane Smith](urn:li:person:XYZ789abc) for leading this effort.\n\nWe've added even more features:\n\u2022 Feature D\n\u2022 Feature E\n\n#ProductLaunch #Innovation"
                },
                "x": {
                  "tweets": [
                    {
                      "copy": "Updated content for our product launch! \ud83d\ude80\n\nWe've added even more features \ud83e\uddf5"
                    },
                    {
                      "copy": "\u2022 Feature D\n\u2022 Feature E\n\n#ProductLaunch #Innovation"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                },
                "example": {
                  "id": "550e8400-e29b-41d4-a716-446655440000",
                  "url": "https://app.tryordinal.com/acme/posts/550e8400-e29b-41d4-a716-446655440000",
                  "title": "Updated: Q4 Product Launch Announcement",
                  "channels": [
                    "LinkedIn",
                    "Twitter"
                  ],
                  "status": "Finalized",
                  "publishDate": "2026-01-16",
                  "publishAt": "2026-01-16T15:00:00.000Z",
                  "updatedAt": "2026-01-13T09:15:00.000Z",
                  "linkedIn": {
                    "copy": "Updated content for our product launch! \ud83d\ude80\n\nShoutout to @[Jane Smith](urn:li:person:XYZ789abc) for leading this effort.\n\nWe've added even more features:\n\u2022 Feature D\n\u2022 Feature E\n\n#ProductLaunch #Innovation"
                  },
                  "x": {
                    "tweets": [
                      {
                        "copy": "Updated content for our product launch! \ud83d\ude80\n\nWe've added even more features \ud83e\uddf5"
                      },
                      {
                        "copy": "\u2022 Feature D\n\u2022 Feature E\n\n#ProductLaunch #Innovation"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "posts-delete",
        "summary": "Delete post",
        "description": "Delete a post by ID",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/posts/{id}/schedule": {
      "post": {
        "operationId": "posts-schedule",
        "summary": "Schedule or reschedule post",
        "description": "Schedule a post for publishing, or reschedule an already scheduled post to a new time. The post must have at least one channel with a connected profile.",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "publishAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When to publish the post (UTC). Required for new schedules, optional for rescheduling (uses existing publishAt if not provided)."
                  }
                }
              },
              "example": {
                "publishAt": "2026-01-20T14:00:00.000Z"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post scheduled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "title": {
                      "type": "string"
                    },
                    "channels": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "status": {
                      "$ref": "#/components/schemas/PostStatus"
                    },
                    "publishDate": {
                      "type": "string",
                      "description": "Scheduled publish date (YYYY-MM-DD) in workspace timezone"
                    },
                    "publishAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Scheduled publish datetime UTC"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                },
                "example": {
                  "id": "550e8400-e29b-41d4-a716-446655440000",
                  "url": "https://app.tryordinal.com/acme/posts/550e8400-e29b-41d4-a716-446655440000",
                  "title": "Q4 Product Launch Announcement",
                  "channels": [
                    "LinkedIn",
                    "Twitter"
                  ],
                  "status": "Scheduled",
                  "publishDate": "2026-01-20",
                  "publishAt": "2026-01-20T14:00:00.000Z",
                  "updatedAt": "2026-01-19T10:30:00.000Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/posts/{id}/unschedule": {
      "post": {
        "operationId": "posts-unschedule",
        "summary": "Unschedule post",
        "description": "Cancel a scheduled post. The post status will be changed to Finalized and any pending scheduled publishes will be cancelled.",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post unscheduled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "title": {
                      "type": "string"
                    },
                    "channels": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "status": {
                      "$ref": "#/components/schemas/PostStatus"
                    },
                    "publishDate": {
                      "type": "string",
                      "nullable": true,
                      "description": "Publish date (YYYY-MM-DD) in workspace timezone. May be null if not set."
                    },
                    "publishAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "Publish datetime UTC. May be null if not set."
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                },
                "example": {
                  "id": "550e8400-e29b-41d4-a716-446655440000",
                  "url": "https://app.tryordinal.com/acme/posts/550e8400-e29b-41d4-a716-446655440000",
                  "title": "Q4 Product Launch Announcement",
                  "channels": [
                    "LinkedIn",
                    "Twitter"
                  ],
                  "status": "Finalized",
                  "publishDate": "2026-01-20",
                  "publishAt": "2026-01-20T14:00:00.000Z",
                  "updatedAt": "2026-01-19T11:00:00.000Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/uploads": {
      "post": {
        "operationId": "uploads-create",
        "summary": "Upload a file from a URL",
        "description": "Uploads a file by downloading it from the provided URL. The file will be processed asynchronously. Poll the GET endpoint to check when it's ready, then use the returned assetId in post creation.\n\n**Supported file types:**\n- Images: JPEG, PNG, GIF, WebP\n- Videos: MP4, QuickTime (MOV)\n\n**File size limits:**\n- Images: 10 MB max\n- GIFs: 15 MB max\n- Videos: 350 MB max\n\n**Additional constraints:**\n- Images cannot exceed 36 megapixels\n- URL must be publicly accessible",
        "tags": [
          "File Uploads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["url"],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the file to upload. Must be publicly accessible."
                  }
                }
              },
              "example": {
                "url": "https://example.com/images/product-photo.jpg"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload job created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadJobCreated"
                },
                "example": {
                  "id": "550e8400-e29b-41d4-a716-446655440000",
                  "status": "pending",
                  "createdAt": "2026-02-04T10:30:00.000Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/uploads/{id}": {
      "get": {
        "operationId": "uploads-get",
        "summary": "Get upload status",
        "description": "Returns the current status and metadata of an upload. Poll this endpoint until status is 'ready', then use the returned assetId when creating posts.",
        "tags": [
          "File Uploads"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Upload job ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upload status and metadata. Response shape depends on status.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/UploadPending"
                    },
                    {
                      "$ref": "#/components/schemas/UploadProcessing"
                    },
                    {
                      "$ref": "#/components/schemas/UploadReady"
                    },
                    {
                      "$ref": "#/components/schemas/UploadFailed"
                    },
                    {
                      "$ref": "#/components/schemas/UploadExpired"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "status"
                  }
                },
                "examples": {
                  "pending": {
                    "summary": "Upload pending",
                    "value": {
                      "id": "550e8400-e29b-41d4-a716-446655440000",
                      "status": "pending",
                      "createdAt": "2026-02-04T10:30:00.000Z"
                    }
                  },
                  "processing": {
                    "summary": "Upload processing",
                    "value": {
                      "id": "550e8400-e29b-41d4-a716-446655440000",
                      "status": "processing",
                      "createdAt": "2026-02-04T10:30:00.000Z"
                    }
                  },
                  "ready": {
                    "summary": "Upload ready",
                    "value": {
                      "id": "550e8400-e29b-41d4-a716-446655440000",
                      "status": "ready",
                      "assetId": "550e8400-e29b-41d4-a716-446655440001",
                      "filename": "product-photo.jpg",
                      "mimetype": "image/jpeg",
                      "size": 245678,
                      "width": 1920,
                      "height": 1080,
                      "duration": null,
                      "expiresAt": "2026-02-11T10:30:00.000Z",
                      "createdAt": "2026-02-04T10:30:00.000Z",
                      "readyAt": "2026-02-04T10:30:15.000Z"
                    }
                  },
                  "failed": {
                    "summary": "Upload failed",
                    "value": {
                      "id": "550e8400-e29b-41d4-a716-446655440000",
                      "status": "failed",
                      "error": "Failed to download file: HTTP 404",
                      "createdAt": "2026-02-04T10:30:00.000Z"
                    }
                  },
                  "expired": {
                    "summary": "Upload expired",
                    "value": {
                      "id": "550e8400-e29b-41d4-a716-446655440000",
                      "status": "expired",
                      "expiredAt": "2026-02-11T10:30:00.000Z",
                      "createdAt": "2026-02-04T10:30:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/profiles/engagement": {
      "get": {
        "operationId": "profiles-listEngagement",
        "summary": "List engagement profiles",
        "description": "List all engagement-only profiles in the workspace. Engagement profiles can only be used for auto-engagements.",
        "tags": [
          "Profiles"
        ],
        "responses": {
          "200": {
            "description": "List of engagement profiles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Profile"
                  }
                },
                "example": [
                  {
                    "id": "550e8400-e29b-41d4-a716-446655440002",
                    "name": "Acme Marketing",
                    "detail": "@acme_marketing",
                    "channel": "Twitter",
                    "profileImageUrl": "https://pbs.twimg.com/profile_images/example.jpg",
                    "isReintegrationRequired": false,
                    "createdAt": "2025-07-20T14:30:00.000Z",
                    "createdBy": {
                      "id": "550e8400-e29b-41d4-a716-446655440010",
                      "email": "john@acme.com",
                      "firstName": "John",
                      "lastName": "Doe"
                    }
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/profiles/scheduling": {
      "get": {
        "operationId": "profiles-listScheduling",
        "summary": "List scheduling profiles",
        "description": "List all scheduling profiles in the workspace. Scheduling profiles support scheduling, auto-engagement, and analytics capabilities.",
        "tags": [
          "Profiles"
        ],
        "responses": {
          "200": {
            "description": "List of scheduling profiles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SchedulingProfile"
                  }
                },
                "example": [
                  {
                    "id": "550e8400-e29b-41d4-a716-446655440001",
                    "name": "John Doe",
                    "detail": "Product Manager at Acme Inc",
                    "channel": "LinkedIn",
                    "profileImageUrl": "https://media.licdn.com/dms/image/example.jpg",
                    "isReintegrationRequired": false,
                    "isLeadsScrapingEnabled": true,
                    "createdAt": "2025-06-15T09:00:00.000Z",
                    "createdBy": {
                      "id": "550e8400-e29b-41d4-a716-446655440010",
                      "email": "john@acme.com",
                      "firstName": "John",
                      "lastName": "Doe"
                    }
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/posts/{postId}/subscribers": {
      "get": {
        "operationId": "subscribers-list",
        "summary": "List post subscribers",
        "description": "List all subscribers for a specific post",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "description": "Post ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of subscribers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscribers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Subscriber"
                      }
                    }
                  }
                },
                "example": {
                  "subscribers": [
                    {
                      "id": "550e8400-e29b-41d4-a716-446655440300",
                      "user": {
                        "id": "550e8400-e29b-41d4-a716-446655440011",
                        "firstName": "Jane",
                        "lastName": "Smith"
                      },
                      "createdBy": {
                        "id": "550e8400-e29b-41d4-a716-446655440010",
                        "firstName": "John",
                        "lastName": "Doe"
                      },
                      "createdAt": "2026-01-05T10:30:00.000Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/subscribers": {
      "post": {
        "operationId": "subscribers-create",
        "summary": "Add subscribers to post",
        "description": "Add one or more subscribers to a post",
        "tags": [
          "Subscribers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscribersInput"
              },
              "example": {
                "postId": "550e8400-e29b-41d4-a716-446655440000",
                "userIds": [
                  "550e8400-e29b-41d4-a716-446655440011",
                  "550e8400-e29b-41d4-a716-446655440012"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscribers added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "createdSubscribers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Subscriber"
                      }
                    },
                    "existingSubscribers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Subscriber"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/subscribers/{id}": {
      "delete": {
        "operationId": "subscribers-delete",
        "summary": "Delete subscriber",
        "description": "Remove a subscriber from a post",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Subscriber ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deletedSubscriber": {
                      "$ref": "#/components/schemas/Subscriber"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/users": {
      "get": {
        "operationId": "users-list",
        "summary": "List workspace users",
        "description": "List all users in the workspace",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                },
                "example": [
                  {
                    "id": "550e8400-e29b-41d4-a716-446655440010",
                    "email": "john@acme.com",
                    "firstName": "John",
                    "lastName": "Doe"
                  },
                  {
                    "id": "550e8400-e29b-41d4-a716-446655440011",
                    "email": "jane@acme.com",
                    "firstName": "Jane",
                    "lastName": "Smith"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/workspace": {
      "get": {
        "operationId": "workspace-get",
        "summary": "Get workspace",
        "description": "Get details about the current workspace",
        "tags": [
          "Workspaces"
        ],
        "responses": {
          "200": {
            "description": "Workspace details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                },
                "example": {
                  "id": "550e8400-e29b-41d4-a716-446655440100",
                  "name": "Acme Inc",
                  "slug": "acme",
                  "timezone": "America/New_York",
                  "createdAt": "2025-01-01T00:00:00.000Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key authentication. Generate an API key from your workspace settings."
      }
    },
    "schemas": {
      "Post": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "title": {
            "type": "string"
          },
          "channels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "$ref": "#/components/schemas/PostStatus"
          },
          "publishDate": {
            "type": "string",
            "description": "Scheduled publish date (YYYY-MM-DD) in workspace timezone"
          },
          "publishAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Scheduled publish datetime UTC. Only set when a specific time is specified."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "linkedIn": {
            "type": "object",
            "nullable": true,
            "properties": {
              "profile": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ChannelProfile"
                  }
                ],
                "nullable": true
              },
              "copy": {
                "type": "string"
              },
              "assets": {
                "type": "array",
                "description": "Assets attached to the LinkedIn post",
                "items": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "x": {
            "type": "object",
            "nullable": true,
            "description": "X (Twitter) content. Present when the post targets the Twitter channel.",
            "properties": {
              "profile": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ChannelProfile"
                  }
                ],
                "nullable": true
              },
              "tweets": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "copy": {
                      "type": "string"
                    },
                    "assets": {
                      "type": "array",
                      "description": "Assets attached to this tweet",
                      "items": {
                        "$ref": "#/components/schemas/Asset"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PostStatus": {
        "type": "string",
        "enum": [
          "Tentative",
          "ToDo",
          "InProgress",
          "ForReview",
          "Blocked",
          "Finalized",
          "Scheduled",
          "Posted"
        ]
      },
      "CreatePostInput": {
        "type": "object",
        "required": [
          "title",
          "publishAt",
          "status"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "publishAt": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "$ref": "#/components/schemas/PostStatus"
          },
          "labelIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "campaignId": {
            "type": "string",
            "format": "uuid"
          },
          "notes": {
            "type": "string"
          },
          "linkedIn": {
            "$ref": "#/components/schemas/LinkedInConfig"
          },
          "x": {
            "$ref": "#/components/schemas/TwitterConfig"
          }
        }
      },
      "UpdatePostInput": {
        "type": "object",
        "description": "All fields are optional. Only include the fields you want to update.",
        "properties": {
          "title": {
            "type": "string"
          },
          "publishAt": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "$ref": "#/components/schemas/PostStatus"
          },
          "labelIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "campaignId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "linkedIn": {
            "$ref": "#/components/schemas/LinkedInConfig"
          },
          "x": {
            "$ref": "#/components/schemas/TwitterConfig"
          }
        }
      },
      "TwitterConfig": {
        "type": "object",
        "description": "X (Twitter) channel configuration for creating or updating posts",
        "required": [
          "profileId",
          "tweets"
        ],
        "properties": {
          "profileId": {
            "type": "string",
            "format": "uuid",
            "description": "X (Twitter) profile ID to post from"
          },
          "tweets": {
            "type": "array",
            "description": "Array of tweets. For threads, include multiple tweets in order.",
            "minItems": 1,
            "items": {
              "type": "object",
              "required": [
                "copy"
              ],
              "properties": {
                "copy": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Tweet text content"
                },
                "assetIds": {
                  "type": "array",
                  "description": "Array of asset IDs to attach to this tweet. Obtain asset IDs by uploading files via the Uploads API. Maximum 4 attachments per tweet.",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 4
                }
              }
            }
          }
        }
      },
      "LinkedInConfig": {
        "type": "object",
        "properties": {
          "profileId": {
            "type": "string",
            "format": "uuid",
            "description": "LinkedIn profile ID to post from"
          },
          "copy": {
            "type": "string",
            "description": "Post content text. To tag someone, use the format `@[Display Name](urn)`. See [LinkedIn Mentions](/api/linkedin-mentions) for details."
          },
          "assetIds": {
            "type": "array",
            "description": "Array of asset IDs to attach to the post. Obtain asset IDs by uploading files via the Uploads API. Maximum 20 attachments for LinkedIn posts.",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "maxItems": 20
          },
          "poll": {
            "type": "object",
            "properties": {
              "question": {
                "type": "string"
              },
              "duration": {
                "type": "string",
                "enum": [
                  "ONE_DAY",
                  "THREE_DAYS",
                  "ONE_WEEK",
                  "TWO_WEEKS"
                ]
              },
              "options": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "text": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "linkPreview": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              },
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "thumbnailId": {
                "type": "string"
              }
            }
          }
        }
      },
      "PostCreateResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "title": {
            "type": "string"
          },
          "channels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "$ref": "#/components/schemas/PostStatus"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UploadJobCreated": {
        "type": "object",
        "description": "Response when an upload job is created",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Upload job ID. Use this to poll the GET /uploads/{id} endpoint."
          },
          "status": {
            "type": "string",
            "enum": ["pending"],
            "description": "Initial status of the upload"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UploadPending": {
        "title": "pending",
        "type": "object",
        "description": "Upload is queued and waiting to be processed",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": ["pending"]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UploadProcessing": {
        "title": "processing",
        "type": "object",
        "description": "Upload is being downloaded and processed",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": ["processing"]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UploadReady": {
        "title": "ready",
        "type": "object",
        "description": "Upload is complete and ready to use. Use the assetId when creating posts.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": ["ready"]
          },
          "assetId": {
            "type": "string",
            "format": "uuid",
            "description": "Asset ID to use when creating posts with attachments"
          },
          "filename": {
            "type": "string",
            "description": "Original filename of the uploaded file"
          },
          "mimetype": {
            "type": "string",
            "description": "MIME type of the file (e.g., image/jpeg, video/mp4)"
          },
          "size": {
            "type": "integer",
            "description": "File size in bytes"
          },
          "width": {
            "type": "integer",
            "nullable": true,
            "description": "Width in pixels for images and videos"
          },
          "height": {
            "type": "integer",
            "nullable": true,
            "description": "Height in pixels for images and videos"
          },
          "duration": {
            "type": "number",
            "nullable": true,
            "description": "Duration in seconds for videos"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the upload will expire if not used"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "readyAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the upload finished processing"
          }
        }
      },
      "UploadFailed": {
        "title": "failed",
        "type": "object",
        "description": "Upload failed to process",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": ["failed"]
          },
          "error": {
            "type": "string",
            "description": "Error message describing why the upload failed"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UploadExpired": {
        "title": "expired",
        "type": "object",
        "description": "Upload has expired and can no longer be used",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": ["expired"]
          },
          "expiredAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the upload expired"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Profile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          },
          "profileImageUrl": {
            "type": "string",
            "nullable": true
          },
          "isReintegrationRequired": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "$ref": "#/components/schemas/UserSummary"
          }
        }
      },
      "SchedulingProfile": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Profile"
          },
          {
            "type": "object",
            "properties": {
              "isLeadsScrapingEnabled": {
                "type": "boolean"
              }
            }
          }
        ]
      },
      "Channel": {
        "type": "string",
        "enum": [
          "LinkedIn",
          "Twitter",
          "Instagram",
          "Facebook",
          "Threads",
          "TikTok",
          "Discord",
          "Slack",
          "Webflow",
          "YouTubeShorts"
        ]
      },
      "EngagementType": {
        "type": "string",
        "enum": [
          "Like",
          "Comment",
          "Repost"
        ]
      },
      "EngagementChannel": {
        "type": "string",
        "enum": [
          "LinkedIn",
          "X"
        ]
      },
      "Engagement": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "channel": {
            "$ref": "#/components/schemas/EngagementChannel"
          },
          "type": {
            "$ref": "#/components/schemas/EngagementType"
          },
          "profileId": {
            "type": "string",
            "format": "uuid",
            "description": "The profile ID that will perform the engagement"
          },
          "copy": {
            "type": "string",
            "nullable": true,
            "description": "The text content for Comment or Repost engagements. Required for Comment, optional for Repost, must not be provided for Like."
          },
          "delaySeconds": {
            "type": "integer",
            "description": "Delay in seconds after post publishes. Required for Comment and Repost, must not be provided for Like. Allowed values: 0, 300, 600, 1800, 3600, 14400, 28800, 43200, 86400"
          }
        }
      },
      "EngagementInput": {
        "type": "object",
        "required": [
          "type",
          "profileId"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/EngagementType"
          },
          "profileId": {
            "type": "string",
            "format": "uuid",
            "description": "The profile ID that will perform the engagement"
          },
          "copy": {
            "type": "string",
            "minLength": 1,
            "description": "The text content. Required for Comment, optional for Repost, must not be provided for Like."
          },
          "delaySeconds": {
            "type": "integer",
            "enum": [
              0,
              300,
              600,
              1800,
              3600,
              14400,
              28800,
              43200,
              86400
            ],
            "description": "Delay in seconds after post publishes. Required for Comment and Repost, must not be provided for Like."
          }
        }
      },
      "CreateEngagementsInput": {
        "type": "object",
        "required": [
          "channel",
          "engagements"
        ],
        "properties": {
          "channel": {
            "$ref": "#/components/schemas/EngagementChannel"
          },
          "engagements": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/EngagementInput"
            }
          }
        }
      },
      "UpdateEngagementInput": {
        "type": "object",
        "description": "All fields are optional. Only include the fields you want to update.",
        "properties": {
          "copy": {
            "type": "string",
            "minLength": 1,
            "nullable": true,
            "description": "The text content. Cannot be updated for Like engagements. Cannot be removed from Comment engagements. Set to null to remove copy from Repost engagements."
          },
          "delaySeconds": {
            "type": "integer",
            "enum": [
              0,
              300,
              600,
              1800,
              3600,
              14400,
              28800,
              43200,
              86400
            ],
            "nullable": true,
            "description": "Delay in seconds after post publishes. Cannot be updated for Like engagements."
          },
          "profileId": {
            "type": "string",
            "format": "uuid",
            "description": "Change the profile that will perform the engagement. The new profile must have the required engagement permissions."
          }
        }
      },
      "EngagementResponse": {
        "type": "object",
        "description": "Engagement object returned from update operations (without channel)",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "$ref": "#/components/schemas/EngagementType"
          },
          "profileId": {
            "type": "string",
            "format": "uuid",
            "description": "The profile ID that will perform the engagement"
          },
          "copy": {
            "type": "string",
            "nullable": true,
            "description": "The text content for Comment or Repost engagements"
          },
          "delaySeconds": {
            "type": "integer",
            "description": "Delay in seconds after post publishes"
          }
        }
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "timezone": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "User": {
[...]
