{
  "openapi": "3.1.0",
  "info": {
    "title": "Ordinal API",
    "version": "1.0.0",
    "description": "API to create and manage Ordinal workspaces, posts, profiles, and analytics"
  },
  "servers": [
    {
      "url": "https://app.tryordinal.com/api/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": "Social media analytics data"
    },
    {
      "name": "Approvals",
      "description": "Post approval workflows"
    },
    {
      "name": "Comments",
      "description": "Post comments for team collaboration. Supports @mentions using the format @[Display Name](userId)."
    },
    {
      "name": "Engagements",
      "description": "Auto-engagements for posts (likes, comments, reposts)"
    },
    {
      "name": "Invites",
      "description": "Workspace invitations for adding new users"
    },
    {
      "name": "Labels",
      "description": "Labels for organizing posts"
    },
    {
      "name": "LinkedIn",
      "description": "LinkedIn utilities for tagging and mentions"
    },
    {
      "name": "Posts",
      "description": "Create and manage posts"
    },
    {
      "name": "Profiles",
      "description": "List connected social profiles"
    },
    {
      "name": "Subscribers",
      "description": "Post subscribers for notifications"
    },
    {
      "name": "File Uploads",
      "description": "Upload files from URLs for use in posts. Supports images (JPEG, PNG, GIF, WebP) up to 10 MB and videos (MP4, MOV) up to 350 MB."
    },
    {
      "name": "Ideas",
      "description": "Create and manage content ideas. Ideas are draft posts without scheduled dates that can be converted to calendar posts."
    },
    {
      "name": "Inline Comments",
      "description": "Text-anchored comments on specific post content. Read-only API for retrieving inline comments across channels."
    },
    {
      "name": "Users",
      "description": "Workspace users"
    },
    {
      "name": "Workspaces",
      "description": "Workspace information"
    }
  ],
  "paths": {
    "/analytics/linkedin/{profileId}/followers": {
      "get": {
        "operationId": "analytics-linkedin-followers",
        "summary": "LinkedIn follower growth",
        "description": "Retrieve follower count history for a LinkedIn profile",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "description": "LinkedIn profile ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for analytics (defaults to 30 days ago)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for analytics (defaults to today)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "LinkedIn follower growth data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FollowerDataPoint"
                  }
                },
                "example": [
                  {
                    "followerCount": 5420,
                    "recordedAt": "2024-12-01T00:00:00.000Z"
                  },
                  {
                    "followerCount": 5485,
                    "recordedAt": "2024-12-02T00:00:00.000Z"
                  },
                  {
                    "followerCount": 5512,
                    "recordedAt": "2024-12-03T00:00:00.000Z"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/analytics/linkedin/{profileId}/posts": {
      "get": {
        "operationId": "analytics-linkedin-posts",
        "summary": "LinkedIn post analytics",
        "description": "Retrieve post analytics for a LinkedIn profile within a date range. When a post was published from Ordinal, the response includes an ordinalPost object with the linked post's id, title, labels, and campaign.",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "description": "LinkedIn profile ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for analytics (defaults to 30 days ago)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for analytics (defaults to today)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "LinkedIn post analytics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LinkedInPostAnalytics"
                  }
                },
                "example": [
                  {
                    "id": "550e8400-e29b-41d4-a716-446655440600",
                    "url": "https://www.linkedin.com/feed/update/urn:li:share:7123456789012345678",
                    "commentary": "Excited to share our latest product update! 🚀\n\nAfter months of development, we're launching three new features that will transform how you work:\n\n✅ Feature A\n✅ Feature B\n✅ Feature C\n\nLearn more in the comments 👇",
                    "type": "Text",
                    "publishedAt": "2024-12-10T14:00:00.000Z",
                    "likeCount": 245,
                    "commentCount": 32,
                    "shareCount": 18,
                    "clickCount": 156,
                    "impressionCount": 12500,
                    "engagement": 0.036,
                    "emv": 375,
                    "ordinalPost": {
                      "id": "44444444-4444-4444-a444-444444444444",
                      "title": "LinkedIn Ordinal Post",
                      "labels": [
                        { "name": "Product", "labelId": "55555555-5555-4555-a555-555555555555" }
                      ],
                      "campaign": { "id": "66666666-6666-4666-a666-666666666666", "name": "Launch Campaign" }
                    }
                  },
                  {
                    "id": "550e8400-e29b-41d4-a716-446655440601",
                    "url": "https://www.linkedin.com/feed/update/urn:li:share:7123456789012345679",
                    "commentary": "5 lessons learned from scaling our startup from 0 to 10k users 📈\n\nThread below:",
                    "type": "Image",
                    "publishedAt": "2024-12-05T09:30:00.000Z",
                    "likeCount": 892,
                    "commentCount": 67,
                    "shareCount": 134,
                    "clickCount": 423,
                    "impressionCount": 28900,
                    "engagement": 0.052,
                    "emv": 867,
                    "ordinalPost": null
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/analytics/x/{profileId}/followers": {
      "get": {
        "operationId": "analytics-x-followers",
        "summary": "X follower growth",
        "description": "Retrieve follower count history for an X profile",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "description": "X profile ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for analytics (defaults to 30 days ago)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for analytics (defaults to today)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "X follower growth data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FollowerDataPoint"
                  }
                },
                "example": [
                  {
                    "followerCount": 12450,
                    "recordedAt": "2024-12-01T00:00:00.000Z"
                  },
                  {
                    "followerCount": 12523,
                    "recordedAt": "2024-12-02T00:00:00.000Z"
                  },
                  {
                    "followerCount": 12601,
                    "recordedAt": "2024-12-03T00:00:00.000Z"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/analytics/x/{profileId}/posts": {
      "get": {
        "operationId": "analytics-x-posts",
        "summary": "X post analytics",
        "description": "Retrieve post analytics for an X profile within a date range. When a post was published from Ordinal, the response includes an ordinalPost object with the linked post's id, title, labels, and campaign.",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "description": "X profile ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for analytics (defaults to 30 days ago)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for analytics (defaults to today)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "X post analytics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TwitterPostAnalytics"
                  }
                },
                "example": [
                  {
                    "id": "550e8400-e29b-41d4-a716-446655440700",
                    "url": "https://x.com/acme/status/1234567890123456789",
                    "text": "Excited to share our latest product update! 🚀\n\nAfter months of development, we're launching three new features that will transform how you work.\n\nThread 🧵👇",
                    "publishedAt": "2024-12-10T14:00:00.000Z",
                    "likeCount": 342,
                    "replyCount": 28,
                    "retweetCount": 89,
                    "quoteCount": 15,
                    "bookmarkCount": 67,
                    "impressionCount": 45200,
                    "engagement": 0.010,
                    "emv": 452,
                    "ordinalPost": {
                      "id": "11111111-1111-4111-a111-111111111111",
                      "title": "My Ordinal Post",
                      "labels": [
                        { "name": "Marketing", "labelId": "22222222-2222-4222-a222-222222222222" }
                      ],
                      "campaign": { "id": "33333333-3333-4333-a333-333333333333", "name": "Q1 Campaign" }
                    }
                  },
                  {
                    "id": "550e8400-e29b-41d4-a716-446655440701",
                    "url": "https://x.com/acme/status/1234567890123456790",
                    "text": "5 lessons learned from scaling our startup from 0 to 10k users 📈\n\nA thread:",
                    "publishedAt": "2024-12-05T09:30:00.000Z",
                    "likeCount": 1256,
                    "replyCount": 94,
                    "retweetCount": 312,
                    "quoteCount": 48,
                    "bookmarkCount": 234,
                    "impressionCount": 89300,
                    "engagement": 0.019,
                    "emv": 893,
                    "ordinalPost": null
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/analytics/cpm": {
      "get": {
        "operationId": "analytics-cpm-get",
        "summary": "Get CPM Values",
        "description": "Retrieve the current CPM (Cost Per Mille) values used for EMV (Earned Media Value) calculations across all platforms. CPM values represent the cost per 1,000 impressions for each social media platform.",
        "tags": [
          "Analytics"
        ],
        "responses": {
          "200": {
            "description": "Current CPM values for all platforms",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CpmValues"
                },
                "example": {
                  "linkedIn": 30,
                  "x": 10,
                  "instagram": 10,
                  "facebook": 10,
                  "threads": 10
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "put": {
        "operationId": "analytics-cpm-update",
        "summary": "Update CPM Values",
        "description": "Update the CPM (Cost Per Mille) values used for EMV (Earned Media Value) calculations. You can update one or more platform CPM values in a single request. Only provide the platforms you want to update.",
        "tags": [
          "Analytics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CpmUpdateInput"
              },
              "examples": {
                "updateSingle": {
                  "summary": "Update single platform",
                  "value": {
                    "linkedIn": 35
                  }
                },
                "updateMultiple": {
                  "summary": "Update multiple platforms",
                  "value": {
                    "linkedIn": 35,
                    "x": 12,
                    "instagram": 15
                  }
                },
                "updateAll": {
                  "summary": "Update all platforms",
                  "value": {
                    "linkedIn": 35,
                    "x": 12,
                    "instagram": 15,
                    "facebook": 12,
                    "threads": 8
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated CPM values for all platforms",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CpmValues"
                },
                "example": {
                  "linkedIn": 35,
                  "x": 12,
                  "instagram": 15,
                  "facebook": 10,
                  "threads": 10
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/approvals": {
      "post": {
        "operationId": "approvals-create",
        "summary": "Create approval requests",
        "description": "Create one or more approval requests for a post",
        "tags": [
          "Approvals"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApprovalsInput"
              },
              "example": {
                "postId": "550e8400-e29b-41d4-a716-446655440000",
                "approvals": [
                  {
                    "userId": "550e8400-e29b-41d4-a716-446655440011",
                    "message": "Please review the messaging before we publish",
                    "dueDate": "2026-01-14T17:00:00.000Z",
                    "isBlocking": true
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Approvals created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "createdApprovals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Approval"
                      }
                    },
                    "existingApprovals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Approval"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/approvals/{id}": {
      "delete": {
        "operationId": "approvals-delete",
        "summary": "Delete approval",
        "description": "Delete an approval request",
        "tags": [
          "Approvals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Approval ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Approval deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deletedApproval": {
                      "$ref": "#/components/schemas/Approval"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/posts/{postId}/approvals": {
      "get": {
        "operationId": "approvals-list",
        "summary": "List post approvals",
        "description": "List all approval requests for a specific post",
        "tags": [
          "Approvals"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "description": "Post ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of approvals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "approvals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Approval"
                      }
                    }
                  }
                },
                "example": {
                  "approvals": [
                    {
                      "id": "550e8400-e29b-41d4-a716-446655440200",
                      "status": "Requested",
                      "isBlocking": true,
                      "message": "Please review the messaging before we publish",
                      "dueDate": "2026-01-14T17:00:00.000Z",
                      "approvedAt": null,
                      "createdAt": "2026-01-05T10:30:00.000Z",
                      "user": {
                        "id": "550e8400-e29b-41d4-a716-446655440011",
                        "firstName": "Jane",
                        "lastName": "Smith",
                        "createdAt": "2025-01-01T00:00:00.000Z"
                      },
                      "requestedBy": {
                        "id": "550e8400-e29b-41d4-a716-446655440010",
                        "firstName": "John",
                        "lastName": "Doe",
                        "createdAt": "2025-01-01T00:00:00.000Z"
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/posts/{postId}/engagements": {
      "get": {
        "operationId": "engagements-list",
        "summary": "List for a post",
        "description": "List all engagements (likes, comments, reposts) configured for a specific post",
        "tags": [
          "Engagements"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "description": "Post ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of engagements",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "engagements": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Engagement"
                      }
                    }
                  }
                },
                "example": {
                  "engagements": [
                    {
                      "id": "550e8400-e29b-41d4-a716-446655440800",
                      "channel": "LinkedIn",
                      "type": "Like",
                      "profileId": "550e8400-e29b-41d4-a716-446655440001",
                      "copy": null,
                      "delaySeconds": 0,
                      "reactionType": "Celebrate"
                    },
                    {
                      "id": "550e8400-e29b-41d4-a716-446655440801",
                      "channel": "LinkedIn",
                      "type": "Comment",
                      "profileId": "550e8400-e29b-41d4-a716-446655440002",
                      "copy": "Great insights! Check out our guide for more details: https://example.com/guide",
                      "delaySeconds": 300
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "engagements-create",
        "summary": "Create for a post",
        "description": "Add engagements (likes, comments, reposts) to a post. Engagements will be executed automatically when the post is published.\n\n**Tagging on LinkedIn:**\nTo mention someone in a comment or repost, use the format `@[Display Name](urn)`. See [LinkedIn Mentions](/api/linkedin-mentions) for details on how to look up URNs.\n\n**LinkedIn reaction types:**\nFor Like engagements on LinkedIn, you can specify a reaction type (Like, Celebrate, Love, Insightful, Support, Funny). Defaults to Like if not specified. Must not be provided for Comment or Repost.\n\n**Validation rules:**\n- `copy` is required for Comment, optional for Repost, must not be provided for Like\n- `delaySeconds` is required for Comment and Repost (allowed values: 0, 300, 600, 1800, 3600, 14400, 28800, 43200, 86400 seconds), must not be provided for Like\n- `reactionType` is only for Like engagements on LinkedIn (defaults to Like if omitted)\n- Only one Like engagement per profile is allowed",
        "tags": [
          "Engagements"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "description": "Post ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEngagementsInput"
              },
              "example": {
                "channel": "LinkedIn",
                "engagements": [
                  {
                    "type": "Like",
                    "profileId": "550e8400-e29b-41d4-a716-446655440001",
                    "reactionType": "Celebrate"
                  },
                  {
                    "type": "Comment",
                    "profileId": "550e8400-e29b-41d4-a716-446655440002",
                    "copy": "Great insights! Check out our guide for more details.",
                    "delaySeconds": 300
                  },
                  {
                    "type": "Repost",
                    "profileId": "550e8400-e29b-41d4-a716-446655440003",
                    "delaySeconds": 3600
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Engagements created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "engagements": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Engagement"
                      }
                    }
                  }
                },
                "example": {
                  "engagements": [
                    {
                      "id": "550e8400-e29b-41d4-a716-446655440800",
                      "type": "Like",
                      "profileId": "550e8400-e29b-41d4-a716-446655440001",
                      "copy": null,
                      "delaySeconds": 0,
                      "reactionType": "Celebrate"
                    },
                    {
                      "id": "550e8400-e29b-41d4-a716-446655440801",
                      "type": "Comment",
                      "profileId": "550e8400-e29b-41d4-a716-446655440002",
                      "copy": "Great insights! Check out our guide for more details.",
                      "delaySeconds": 300
                    },
                    {
                      "id": "550e8400-e29b-41d4-a716-446655440802",
                      "type": "Repost",
                      "profileId": "550e8400-e29b-41d4-a716-446655440003",
                      "copy": null,
                      "delaySeconds": 3600
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/engagements/{id}": {
      "patch": {
        "operationId": "engagements-update",
        "summary": "Update an engagement",
        "description": "Update an existing engagement's copy, delay, profile, or reaction type.\n\n**Validation rules:**\n- `copy` cannot be updated for Like engagements\n- `copy` cannot be removed from Comment engagements (must have content)\n- `delaySeconds` cannot be updated for Like engagements\n- `reactionType` can only be updated for Like engagements on LinkedIn\n- When changing `profileId`, the new profile must have the required engagement permissions\n- Cannot update engagements for posts that have already been published\n- Only one Like engagement per profile is allowed (cannot change profileId to a profile that already has a Like)",
        "tags": [
          "Engagements"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Engagement ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEngagementInput"
              },
              "examples": {
                "updateComment": {
                  "summary": "Update comment text and delay",
                  "value": {
                    "copy": "Updated comment text with great insights!",
                    "delaySeconds": 600
                  }
                },
                "changeProfile": {
                  "summary": "Change the profile performing the engagement",
                  "value": {
                    "profileId": "550e8400-e29b-41d4-a716-446655440003"
                  }
                },
                "updateReactionType": {
                  "summary": "Update LinkedIn reaction type for a Like engagement",
                  "value": {
                    "reactionType": "Love"
                  }
                },
                "clearRepostCopy": {
                  "summary": "Remove copy from a repost",
                  "value": {
                    "copy": null
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Engagement updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "engagement": {
                      "$ref": "#/components/schemas/EngagementResponse"
                    }
                  }
                },
                "example": {
                  "engagement": {
                    "id": "550e8400-e29b-41d4-a716-446655440801",
                    "type": "Comment",
                    "profileId": "550e8400-e29b-41d4-a716-446655440002",
                    "copy": "Updated comment text with great insights!",
                    "delaySeconds": 600
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "engagements-delete",
        "summary": "Delete an engagement",
        "description": "Remove an auto-engagement from a post",
        "tags": [
          "Engagements"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Engagement ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Engagement deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/invites": {
      "get": {
        "operationId": "invites-list",
        "summary": "List pending invites",
        "description": "List all pending invites for the workspace",
        "tags": [
          "Invites"
        ],
        "responses": {
          "200": {
            "description": "List of pending invites",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invite"
                  }
                },
                "example": [
                  {
                    "id": "550e8400-e29b-41d4-a716-446655440500",
                    "email": "newuser@example.com",
                    "createdAt": "2026-01-15T10:00:00.000Z"
                  },
                  {
                    "id": "550e8400-e29b-41d4-a716-446655440501",
                    "email": "another@example.com",
                    "createdAt": "2026-01-16T14:30:00.000Z"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "invites-create",
        "summary": "Create an invite",
        "description": "Invite a user to the workspace by email. If the user already has an Ordinal account, they will be added to the workspace immediately. Otherwise, an invite email will be sent.",
        "tags": [
          "Invites"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInviteInput"
              },
              "example": {
                "email": "newuser@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invite created or user added to workspace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invite": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Invite"
                        }
                      ],
                      "nullable": true,
                      "description": "The created invite, or null if the user was added directly to the workspace"
                    },
                    "sentEmail": {
                      "type": "boolean",
                      "description": "Whether an invite email was sent"
                    }
                  }
                },
                "example": {
                  "invite": {
                    "id": "550e8400-e29b-41d4-a716-446655440500",
                    "email": "newuser@example.com",
                    "createdAt": "2026-01-15T10:00:00.000Z"
                  },
                  "sentEmail": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/invites/{id}": {
      "delete": {
        "operationId": "invites-delete",
        "summary": "Delete an invite",
        "description": "Delete a pending invite. This will prevent the invited user from joining the workspace using this invite.",
        "tags": [
          "Invites"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Invite ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invite deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "description": "Whether the invite was deleted"
                    }
                  }
                },
                "example": {
                  "deleted": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/labels": {
      "get": {
        "operationId": "labels-list",
        "summary": "List all labels",
        "description": "List all labels in the workspace",
        "tags": [
          "Labels"
        ],
        "responses": {
          "200": {
            "description": "List of labels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "labels": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Label"
                      }
                    }
                  }
                },
                "example": {
                  "labels": [
                    {
                      "id": "550e8400-e29b-41d4-a716-446655440400",
                      "name": "Marketing",
                      "color": "#9333ea",
                      "backgroundColor": "#f3e8ff",
                      "createdAt": "2025-06-01T00:00:00.000Z",
                      "updatedAt": "2025-06-01T00:00:00.000Z"
                    },
                    {
                      "id": "550e8400-e29b-41d4-a716-446655440401",
                      "name": "Product",
                      "color": "#16a34a",
                      "backgroundColor": "#dcfce7",
                      "createdAt": "2025-06-01T00:00:00.000Z",
                      "updatedAt": "2025-06-01T00:00:00.000Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "labels-create",
        "summary": "Create a label",
        "description": "Create a new label in the workspace",
        "tags": [
          "Labels"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLabelInput"
              },
              "example": {
                "name": "Engineering",
                "color": "green"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Label created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Label"
                },
                "example": {
                  "id": "550e8400-e29b-41d4-a716-446655440402",
                  "name": "Engineering",
                  "color": "#16a34a",
                  "backgroundColor": "#dcfce7",
                  "createdAt": "2026-01-05T10:30:00.000Z",
                  "updatedAt": "2026-01-05T10:30:00.000Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/labels/{id}": {
      "delete": {
        "operationId": "labels-delete",
        "summary": "Delete a label",
        "description": "Delete a label from the workspace",
        "tags": [
          "Labels"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Label ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Label deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Label"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/linkedin/leads/{profileId}/posts": {
      "get": {
        "operationId": "linkedin-leads-listPosts",
        "x-hidden": true,
        "summary": "List posts",
        "description": "Returns all LinkedIn posts for a profile with scraped lead counts (reactions, comments, reshares). Supports pagination and filtering by date range. Requires leads scraping to be enabled for the profile.",
        "tags": [
          "LinkedIn Leads"
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "description": "LinkedIn profile ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Filter posts published on or after this date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Filter posts published on or before this date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of posts to return (1-100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from previous response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of LinkedIn posts with lead counts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "posts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LinkedInLeadPost"
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Cursor for fetching the next page"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether more posts are available"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/linkedin/leads/{profileId}/posts/{postId}": {
      "get": {
        "operationId": "linkedin-leads-getLeadsByPost",
        "x-hidden": true,
        "summary": "Get posts leads",
        "description": "Returns leads (reactions, comments, reshares) for a specific LinkedIn post. Supports filtering by engagement type and minimum follower count.",
        "tags": [
          "LinkedIn Leads"
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "description": "LinkedIn profile ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "description": "LinkedIn post ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "Filter by engagement types (comma-separated: LIKE,COMMENT,RESHARE)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minFollowerCount",
            "in": "query",
            "description": "Filter leads by minimum follower count",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of leads to return (1-250)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from previous response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of leads for the post",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "leads": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LinkedInLead"
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Cursor for fetching the next page"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether more leads are available"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/linkedin/{username}/mentions": {
      "get": {
        "operationId": "linkedin-getMention",
        "summary": "Mention format by username",
        "description": "Look up the mention format for a LinkedIn user or organization by their username to use in posts or comments.\n\nThe username is the part after `/in/` or `/company/` in a LinkedIn profile URL:\n- Personal profile: `linkedin.com/in/johndoe`  - username is `johndoe`\n- Company page: `linkedin.com/company/acme-inc`  - username is `acme-inc`\n\nReturns both user and organization results if a username matches both (rare but possible).",
        "tags": [
          "LinkedIn"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "description": "LinkedIn username (vanity name) to look up",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "LinkedIn mention information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/LinkedInMentionUser"
                        }
                      ],
                      "nullable": true
                    },
                    "organization": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/LinkedInMentionOrganization"
                        }
                      ],
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "user": {
                    "username": "johndoe",
                    "urn": "urn:li:person:ABC123xyz",
                    "type": "User",
                    "displayName": "John Doe",
                    "firstName": "John",
                    "mentionFormat": "@[John Doe](urn:li:person:ABC123xyz)",
                    "firstNameMentionFormat": "@[John](urn:li:person:ABC123xyz)"
                  },
                  "organization": {
                    "username": "acme-inc",
                    "urn": "urn:li:organization:123456",
                    "type": "Organization",
                    "displayName": "Acme Inc",
                    "mentionFormat": "@[Acme Inc](urn:li:organization:123456)"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/ideas": {
      "get": {
        "operationId": "ideas-list",
        "summary": "List ideas",
        "description": "List all ideas in the workspace with pagination and filtering. Archived ideas are excluded from results.",
        "tags": [
          "Ideas"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of ideas to return (1-100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination (idea ID from the last item of previous page)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Fetch specific ideas by IDs",
            "schema": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                {
                  "type": "string",
                  "format": "uuid"
                }
              ]
            }
          },
          {
            "name": "channel",
            "in": "query",
            "description": "Filter by channel",
            "schema": {
              "type": "string",
              "enum": ["LinkedIn", "Twitter"]
            }
          },
          {
            "name": "linkedInProfileId",
            "in": "query",
            "description": "Filter by LinkedIn profile ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "xProfileId",
            "in": "query",
            "description": "Filter by X/Twitter profile ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "labelIds",
            "in": "query",
            "description": "Filter by label IDs (ideas with any of these labels)",
            "schema": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                {
                  "type": "string",
                  "format": "uuid"
                }
              ]
            }
          },
          {
            "name": "createdAtMin",
            "in": "query",
            "description": "Filter ideas created on or after this date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdAtMax",
            "in": "query",
            "description": "Filter ideas created on or before this date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort by",
            "schema": {
              "type": "string",
              "enum": ["createdAt"],
              "default": "createdAt"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of ideas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ideas": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Idea"
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Cursor for the next page of results"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether there are more results"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "ideas-create",
        "summary": "Create idea",
        "description": "Create a new idea in the workspace. At least one channel (linkedIn or x) is required.",
        "tags": [
          "Ideas"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title"],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Idea title"
                  },
                  "labelIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "default": [],
                    "description": "Label IDs to attach to the idea"
                  },
                  "campaignId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Campaign ID to link the idea to"
                  },
                  "linkedIn": {
                    "type": "object",
                    "description": "LinkedIn channel configuration",
                    "properties": {
                      "profileId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "LinkedIn profile ID to post from"
                      },
                      "copy": {
                        "type": "string",
                        "description": "Post content text. To tag someone, use the format `@[Display Name](urn)`. See [LinkedIn Mentions](/api/linkedin-mentions) for details."
                      },
                      "assetIds": {
                        "type": "array",
                        "description": "Array of asset IDs to attach. Maximum 20 attachments.",
                        "items": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "maxItems": 20
                      },
                      "poll": {
                        "type": "object",
                        "properties": {
                          "question": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "string",
                            "enum": ["ONE_DAY", "THREE_DAYS", "ONE_WEEK", "TWO_WEEKS"]
                          },
                          "options": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "text": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      },
                      "linkPreview": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "thumbnailId": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "x": {
                    "type": "object",
                    "description": "X (Twitter) channel configuration",
                    "required": ["profileId", "tweets"],
                    "properties": {
                      "profileId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "X (Twitter) profile ID to post from"
                      },
                      "tweets": {
                        "type": "array",
                        "description": "Array of tweets. For threads, include multiple tweets in order.",
                        "minItems": 1,
                        "items": {
                          "type": "object",
                          "required": ["copy"],
                          "properties": {
                            "copy": {
                              "type": "string",
                              "minLength": 1,
                              "description": "Tweet text content"
                            },
                            "assetIds": {
                              "type": "array",
                              "description": "Array of asset IDs to attach. Maximum 4 per tweet.",
                              "items": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "maxItems": 4
                            }
                          }
                        }
                      }
                    }
                  },
                  "notes": {
                    "type": "string",
                    "description": "Internal notes for the idea"
                  }
                }
              },
              "example": {
                "title": "My Idea",
                "linkedIn": {
                  "copy": "This is my idea content for LinkedIn"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Idea created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdeaCreateResponse"
                },
                "example": {
                  "id": "550e8400-e29b-41d4-a716-446655440000",
                  "url": "https://app.tryordinal.com/workspace/ideas/550e8400-e29b-41d4-a716-446655440000",
                  "title": "My Idea",
                  "channels": ["LinkedIn"],
                  "status": "Idea",
                  "createdAt": "2026-02-18T14:30:00.000Z",
                  "updatedAt": "2026-02-18T14:30:00.000Z",
                  "linkedIn": {
                    "copy": "This is my idea content for LinkedIn",
                    "assets": []
                  },
                  "x": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/ideas/{id}": {
      "get": {
        "operationId": "ideas-get",
        "summary": "Get idea",
        "description": "Get a single idea by ID.",
        "tags": [
          "Ideas"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Idea ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Idea details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "idea": {
                      "$ref": "#/components/schemas/Idea"
                    }
                  }
                },
                "example": {
                  "idea": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "url": "https://app.tryordinal.com/workspace/ideas/550e8400-e29b-41d4-a716-446655440000",
                    "title": "My Idea",
                    "channels": ["LinkedIn"],
                    "status": "Idea",
                    "createdAt": "2026-02-18T14:30:00.000Z",
                    "updatedAt": "2026-02-18T14:30:00.000Z",
                    "linkedIn": {
                      "profile": {
                        "id": "660e8400-e29b-41d4-a716-446655440000",
                        "name": "John Doe",
                        "detail": "johndoe"
                      },
                      "copy": "This is my idea content for LinkedIn",
                      "assets": []
                    },
                    "x": null
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "ideas-update",
        "summary": "Update idea",
        "description": "Update an existing idea by ID. All fields are optional - only include the fields you want to update. Archived ideas cannot be updated; unarchive them first.",
        "tags": [
          "Ideas"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Idea ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Idea title"
                  },
                  "labelIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "Label IDs to attach to the idea (replaces existing labels)"
                  },
                  "campaignId": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true,
                    "description": "Campaign ID to link the idea to (null to unlink)"
                  },
                  "linkedIn": {
                    "type": "object",
                    "properties": {
                      "copy": {
                        "type": "string"
                      },
                      "assetIds": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uuid"
                        }
                      }
                    },
                    "description": "LinkedIn channel content updates"
                  },
                  "x": {
                    "type": "object",
                    "properties": {
                      "tweets": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "copy": {
                              "type": "string"
                            },
                            "assetIds": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "format": "uuid"
                              }
                            }
                          }
                        }
                      }
                    },
                    "description": "X/Twitter channel content updates"
                  },
                  "notes": {
                    "type": "string",
                    "nullable": true,
                    "description": "Internal notes for the idea"
                  }
                }
              },
              "example": {
                "title": "Updated Idea Title",
                "linkedIn": {
                  "copy": "Updated LinkedIn content"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Idea updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdeaUpdateResponse"
                },
                "example": {
                  "id": "550e8400-e29b-41d4-a716-446655440000",
                  "url": "https://app.tryordinal.com/workspace/ideas/550e8400-e29b-41d4-a716-446655440000",
                  "title": "Updated Idea Title",
                  "channels": ["LinkedIn"],
                  "status": "Idea",
                  "updatedAt": "2026-02-18T15:00:00.000Z",
                  "linkedIn": {
                    "copy": "Updated LinkedIn content",
                    "assets": []
                  },
                  "x": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/ideas/{id}/archive": {
      "post": {
        "operationId": "ideas-archive",
        "summary": "Archive idea",
        "description": "Archive an idea by ID. The idea is moved to Trash and will be permanently deleted after 30 days. Use the unarchive endpoint to restore it.",
        "tags": [
          "Ideas"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Idea ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Idea archived successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Idea ID"
                    },
                    "workspaceId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Workspace ID"
                    },
                    "archivedAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "When the idea was archived"
                    }
                  },
                  "required": ["id", "workspaceId", "archivedAt"]
                },
                "example": {
                  "id": "550e8400-e29b-41d4-a716-446655440000",
                  "workspaceId": "660e8400-e29b-41d4-a716-446655440000",
                  "archivedAt": "2026-02-18T14:30:00.000Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/ideas/{id}/unarchive": {
      "post": {
        "operationId": "ideas-unarchive",
        "summary": "Unarchive idea",
        "description": "Restore an archived idea from Trash. The idea will no longer be scheduled for permanent deletion.",
        "tags": [
          "Ideas"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Idea ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Idea unarchived successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Idea ID"
                    },
                    "workspaceId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Workspace ID"
                    },
                    "archivedAt": {
                      "type": "null",
                      "description": "Always null for unarchived ideas"
                    }
                  },
                  "required": ["id", "workspaceId", "archivedAt"]
                },
                "example": {
                  "id": "550e8400-e29b-41d4-a716-446655440000",
                  "workspaceId": "660e8400-e29b-41d4-a716-446655440000",
                  "archivedAt": null
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/ideas/{id}/add-to-calendar": {
      "post": {
        "operationId": "ideas-add-to-calendar",
        "summary": "Add idea to calendar",
        "description": "Convert an idea to a calendar post by assigning it a publish date. The idea becomes a regular post that can be scheduled.",
        "tags": [
          "Ideas"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Idea ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["publishDate"],
                "properties": {
                  "publishDate": {
                    "type": "string",
                    "format": "date",
                    "description": "Date to add the idea to on the calendar (YYYY-MM-DD or ISO 8601)"
                  }
                }
              },
              "example": {
                "publishDate": "2026-03-01"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Idea added to calendar successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "The post ID (same as the original idea ID)"
                    }
                  },
                  "required": ["id"]
                },
                "example": {
                  "id": "550e8400-e29b-41d4-a716-446655440000"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/posts": {
      "get": {
        "operationId": "posts-list",
        "summary": "List posts",
        "description": "List all posts in the workspace with pagination and filtering. Archived posts are excluded from results.",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of posts to return (1-100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination (post ID from the last item of previous page)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Fetch specific posts by IDs. Can be a single UUID or comma-separated list.",
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by post status",
            "schema": {
              "$ref": "#/components/schemas/PostStatus"
            }
          },
          {
            "name": "channel",
            "in": "query",
            "description": "Filter by channel",
            "schema": {
              "type": "string",
              "enum": ["LinkedIn", "Twitter"]
            }
          },
          {
            "name": "linkedInProfileId",
            "in": "query",
            "description": "Filter by LinkedIn profile ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "xProfileId",
            "in": "query",
            "description": "Filter by X/Twitter profile ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "labelIds",
            "in": "query",
            "description": "Filter by label IDs (posts with any of these labels). Can be a single UUID or comma-separated list.",
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              ]
            }
          },
          {
            "name": "publishDateMin",
            "in": "query",
            "description": "Filter posts scheduled on or after this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "publishDateMax",
            "in": "query",
            "description": "Filter posts scheduled on or before this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdAtMin",
            "in": "query",
            "description": "Filter posts created on or after this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdAtMax",
            "in": "query",
            "description": "Filter posts created on or before this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort by",
            "schema": {
              "type": "string",
              "enum": ["createdAt", "publishAt"],
              "default": "createdAt"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "posts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Post"
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Cursor for the next page of results"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether there are more results"
                    }
                  }
                },
                "example": {
                  "posts": [
                    {
                      "id": "550e8400-e29b-41d4-a716-446655440000",
                      "url": "https://app.tryordinal.com/acme/posts/550e8400-e29b-41d4-a716-446655440000",
                      "title": "Q4 Product Launch Announcement",
                      "channels": [
                        "LinkedIn",
                        "Twitter"
                      ],
                      "status": "Scheduled",
                      "publishDate": "2026-01-15",
                      "publishAt": "2026-01-15T14:00:00.000Z",
                      "createdAt": "2026-01-05T10:30:00.000Z",
                      "updatedAt": "2026-01-05T11:45:00.000Z",
                      "labels": [
                        {
                          "id": "550e8400-e29b-41d4-a716-446655440400",
                          "name": "Marketing",
                          "color": "#9333ea",
                          "backgroundColor": "#f3e8ff"
                        }
                      ],
                      "linkedIn": {
                        "profile": {
                          "id": "550e8400-e29b-41d4-a716-446655440001",
                          "name": "John Doe",
                          "detail": "johndoe"
                        },
                        "copy": "Excited to announce our new product launch! 🚀",
                        "assets": [
                          {
                            "id": "550e8400-e29b-41d4-a716-446655440010",
                            "name": "product-photo.jpg",
                            "url": "https://cdn.tryordinal.com/assets/product-photo.jpg",
                            "mimetype": "image/jpeg",
                            "size": 245678,
                            "width": 1920,
                            "height": 1080,
                            "duration": null
                          }
                        ]
                      },
                      "x": {
                        "profile": {
                          "id": "550e8400-e29b-41d4-a716-446655440003",
                          "name": "Acme Inc",
                          "detail": "@acme_inc"
                        },
                        "tweets": [
                          {
                            "copy": "Excited to announce our new product launch! 🚀",
                            "assets": []
                          }
                        ]
                      }
                    }
                  ],
                  "nextCursor": "550e8400-e29b-41d4-a716-446655440001",
                  "hasMore": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "operationId": "posts-create",
        "summary": "Create post",
        "description": "Create a new post in the workspace",
        "tags": [
          "Posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePostInput"
              },
              "example": {
                "title": "Q4 Product Launch Announcement",
                "publishAt": "2026-01-15T14:00:00.000Z",
                "status": "Scheduled",
                "linkedIn": {
                  "profileId": "550e8400-e29b-41d4-a716-446655440001",
                  "copy": "Excited to announce our new product launch! 🚀\n\nHuge thanks to @[John Doe](urn:li:person:ABC123xyz) and the @[Acme Inc](urn:li:organization:123456) team for making this happen.\n\nKey highlights:\n• Feature A\n• Feature B\n• Feature C\n\n#ProductLaunch #Innovation",
                  "assetIds": ["550e8400-e29b-41d4-a716-446655440010"]
                },
                "x": {
                  "profileId": "550e8400-e29b-41d4-a716-446655440003",
                  "tweets": [
                    {
                      "copy": "Excited to announce our new product launch! 🚀\n\nA thread on what we've been building 🧵",
                      "assetIds": ["550e8400-e29b-41d4-a716-446655440011"]
                    },
                    {
                      "copy": "Key highlights:\n• Feature A\n• Feature B\n• Feature C"
                    }
                  ]
                },
                "labelIds": [
                  "550e8400-e29b-41d4-a716-446655440002"
                ],
                "notes": "Internal note: Coordinate with marketing team"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCreateResponse"
                },
                "example": {
                  "id": "550e8400-e29b-41d4-a716-446655440000",
                  "url": "https://app.tryordinal.com/acme/posts/550e8400-e29b-41d4-a716-446655440000",
                  "title": "Q4 Product Launch Announcement",
                  "channels": [
                    "LinkedIn",
                    "Twitter"
                  ],
                  "status": "Scheduled",
                  "createdAt": "2026-01-05T10:30:00.000Z",
                  "updatedAt": "2026-01-05T10:30:00.000Z",
                  "linkedIn": {
                    "copy": "Excited to announce our new product launch!",
                    "assets": [
                      {
                        "id": "550e8400-e29b-41d4-a716-446655440010",
                        "name": "product-photo.jpg",
                        "url": "https://cdn.tryordinal.com/assets/product-photo.jpg",
                        "mimetype": "image/jpeg",
                        "size": 245678,
                        "width": 1920,
                        "height": 1080,
                        "duration": null
                      }
                    ]
                  },
                  "x": {
                    "tweets": [
                      {
                        "copy": "Excited to announce our new product launch!",
                        "assets": [
                          {
                            "id": "550e8400-e29b-41d4-a716-446655440011",
                            "name": "product-photo.jpg",
                            "url": "https://cdn.tryordinal.com/assets/product-photo.jpg",
                            "mimetype": "image/jpeg",
                            "size": 245678,
                            "width": 1920,
                            "height": 1080,
                            "duration": null
                          }
                        ]
                      },
                      {
                        "copy": "Key highlights: Feature A, Feature B, Feature C",
                        "assets": []
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/posts/{id}": {
      "get": {
        "operationId": "posts-get",
        "summary": "Get post",
        "description": "Get a specific post by ID",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post": {
                      "$ref": "#/components/schemas/Post"
                    }
                  }
                },
                "example": {
                  "post": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "url": "https://app.tryordinal.com/acme/posts/550e8400-e29b-41d4-a716-446655440000",
                    "title": "Q4 Product Launch Announcement",
                    "channels": [
                      "LinkedIn",
                      "Twitter"
                    ],
                    "status": "Scheduled",
                    "publishDate": "2026-01-15",
                    "publishAt": "2026-01-15T14:00:00.000Z",
                    "createdAt": "2026-01-05T10:30:00.000Z",
                    "updatedAt": "2026-01-05T11:45:00.000Z",
                    "labels": [
                      {
                        "id": "550e8400-e29b-41d4-a716-446655440400",
                        "name": "Marketing",
                        "color": "#9333ea",
                        "backgroundColor": "#f3e8ff"
                      }
                    ],
                    "linkedIn": {
                      "profile": {
                        "id": "550e8400-e29b-41d4-a716-446655440001",
                        "name": "John Doe",
                        "detail": "johndoe"
                      },
                      "copy": "Excited to announce our new product launch! 🚀",
                      "assets": [
                        {
                          "id": "550e8400-e29b-41d4-a716-446655440010",
                          "name": "product-photo.jpg",
                          "url": "https://cdn.tryordinal.com/assets/product-photo.jpg",
                          "mimetype": "image/jpeg",
                          "size": 245678,
                          "width": 1920,
                          "height": 1080,
                          "duration": null
                        }
                      ]
                    },
                    "x": {
                      "profile": {
                        "id": "550e8400-e29b-41d4-a716-446655440003",
                        "name": "Acme Inc",
                        "detail": "@acme_inc"
                      },
                      "tweets": [
                        {
                          "copy": "Excited to announce our new product launch! 🚀",
                          "assets": []
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "posts-update",
        "summary": "Update post",
        "description": "Update an existing post by ID. All fields are optional - only include the fields you want to update. Archived posts cannot be updated; unarchive them first.",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePostInput"
              },
              "example": {
                "title": "Updated: Q4 Product Launch Announcement",
                "publishAt": "2026-01-16T15:00:00.000Z",
                "status": "Finalized",
                "linkedIn": {
                  "copy": "Updated content for our product launch! 🚀\n\nShoutout to @[Jane Smith](urn:li:person:XYZ789abc) for leading this effort.\n\nWe've added even more features:\n• Feature D\n• Feature E\n\n#ProductLaunch #Innovation"
                },
                "x": {
                  "tweets": [
                    {
                      "copy": "Updated content for our product launch! 🚀\n\nWe've added even more features 🧵"
                    },
                    {
                      "copy": "• Feature D\n• Feature E\n\n#ProductLaunch #Innovation"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                },
                "example": {
                  "id": "550e8400-e29b-41d4-a716-446655440000",
                  "url": "https://app.tryordinal.com/acme/posts/550e8400-e29b-41d4-a716-446655440000",
                  "title": "Updated: Q4 Product Launch Announcement",
                  "channels": [
                    "LinkedIn",
                    "Twitter"
                  ],
                  "status": "Finalized",
                  "publishDate": "2026-01-16",
                  "publishAt": "2026-01-16T15:00:00.000Z",
                  "updatedAt": "2026-01-13T09:15:00.000Z",
                  "linkedIn": {
                    "copy": "Updated content for our product launch! 🚀\n\nShoutout to @[Jane Smith](urn:li:person:XYZ789abc) for leading this effort.\n\nWe've added even more features:\n• Feature D\n• Feature E\n\n#ProductLaunch #Innovation"
                  },
                  "x": {
                    "tweets": [
                      {
                        "copy": "Updated content for our product launch! 🚀\n\nWe've added even more features 🧵"
                      },
                      {
                        "copy": "• Feature D\n• Feature E\n\n#ProductLaunch #Innovation"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/posts/{id}/archive": {
      "post": {
        "operationId": "posts-archive",
        "summary": "Archive post",
        "description": "Archive a post by ID. The post is moved to Trash and will be permanently deleted after 30 days. Use the unarchive endpoint to restore it.",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post archived successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Post ID"
                    },
                    "workspaceId": {
[...]
